.accord__title {
  margin: 0;
}

.accord__item {
  position: relative;
  margin-top: -1px;
  border-bottom: 1px solid var(--grey);
  transition: border-color .3s ease;
}

.accord__item:first-child {
  border-top: 1px solid var(--grey);
}

.accord__item:not(:first-child) {
 border-top: 1px solid transparent;
}

.accord__item:hover {
  border-color: var(--orange);
  color: var(--orange);
  cursor: pointer;
}

.accord__item:focus-within {
  border-color: var(--orange);
  color: var(--orange);
  outline: none;
}

.accord__btn {
  position: relative;
  display: block;
  width: 100%;
  min-height: 110px;
  padding-top: 30px;
  padding-right: 90px;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--black);
  text-align: left;
  cursor: pointer;
  transition: color .3s ease;
}

.accord__btn:hover {
  color: var(--orange);
}

.accord__btn:focus-visible {
  color: var(--orange);
  outline: none;
}

.accord__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23CACACA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='black'/%3E%3C/svg%3E");
  transition: transform .3s ease, background-image .3s ease;
  transform: translateY(-50%);
}

.accord__btn:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23FF9900'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='white'/%3E%3C/svg%3E%0A");
}

.accord__content {
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--black);
}

.accord__content-wrap {
  visibility: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0;
  transition: opacity .5s ease, visibility .5s ease;
  transition-delay: .3s;
}

.is-active .accord__content-wrap {
  visibility: visible;
  opacity: 1;
}

.is-active .accord__btn::after {
  transform: translateY(-50%) rotate(45deg);
}

@media (max-width: 1280px) {
  .accord__btn {
    padding-top: 30px;
    padding-right: 150px;
    padding-bottom: 30px;
    font-size: 20px;
  }
}

@media (max-width: 850px) {
  .accord__btn {
    padding-top: 30px;
    padding-right: 90px;
  }
}

@media (max-width: 576px) {
  .accord__btn {
    padding-right: 49px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  .accord__btn::after {
    top: 47px;
    width: 30px;
    height: 30px;
  }
}
