.hamburger {
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, filter;
}

.hamburger:hover {
  opacity: .7;
}

.hamburger.is-active:hover {
  opacity: .7;
}

.hamburger.is-active .hamburger__inner,
.hamburger.is-active .hamburger__inner::before,
.hamburger.is-active .hamburger__inner::after {
  background-color: #000000;
}

.hamburger__box {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 23px;
}

.hamburger__inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  position: absolute;
  width: 30px;
  height: 3px;
  /* border-radius: 4px; */
  background-color: #000000;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger__inner {
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: .22s;
}

.hamburger--spin .hamburger__inner::before {
  transition: top .1s .25s ease-in, opacity .1s ease-in;
}

.hamburger--spin .hamburger__inner::after {
  transition: bottom .1s .25s ease-in, transform .22s cubic-bezier(.55, .055, .675, .19);
}

.hamburger--spin.is-active .hamburger__inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  transform: rotate(225deg);
}

.hamburger--spin.is-active .hamburger__inner::before {
  top: 0;
  opacity: 0;
  transition: top .1s ease-out, opacity .1s .12s ease-out;
}

.hamburger--spin.is-active .hamburger__inner::after {
  bottom: 0;
  transition: bottom .1s ease-out, transform .22s .12s cubic-bezier(.215, .61, .355, 1);
  transform: rotate(-90deg);
}
