.faq {
	padding-top: 50px;
	padding-bottom: 102px;
}

.faq__title {
	margin-top: 11px;
	margin-bottom: 32px;
}


@media (max-width: 1280px) {
	.faq {
		padding-top: 41px;
		padding-bottom: 40px;
	}

	.faq__title {
		margin-top: 0;
	}
}

@media (max-width: 850px) {
	.faq {
		padding-top: 23px;
		padding-bottom: 54px;
	}
}

@media (max-width: 576px) {
	.faq {
		padding-top: 42px;
		padding-bottom: 58px;
	}

	.faq__title {
		margin-bottom: 15px;
		font-size: 24px;
		font-weight: 400;
		line-height: 29px;
	}
}
