
.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__input {
  min-height: 60px;
  margin-bottom: 25px;
  padding: 15px 25px;
  border: none;
  border-radius: 16px;
  color: var(--grey);
  outline: none;
  background-color: var(--grey-medium);
  cursor: pointer;
  transition: background-color .3s ease, color .3s ease;
}

.feedback__input:hover {
  background-color: var(--grey-dark);
}

.feedback__input:focus:not(:active) {
  outline: none;
  background-color: var(--grey-dark);
}

.feedback__input:active {
  color: var(--white);
  background-color: var(--grey-dark);
}

.feedback__input-textarea {
  height: 150px;
  margin-bottom: 31px;
  padding-top: 21px;
  resize: none;
}

.feedback__input::placeholder {
  color: var(--grey);
}

.feedback__form-btn {
  display: flex;
  justify-content: center;
}

.feedback__submit-btn {
  flex-shrink: 0;
  width: 100%;
  max-width: 269px;
  padding: 19px 52px;
  transition: background-color .3s ease;
}

.feedback__submit-btn:hover {
  background-color: var(--orange-hov);
}

.feedback__submit-btn:focus-visible {
  outline: none;
  background-color: var(--orange-hov);
}

.feedback__submit-btn:active {
  background-color: var(--orange-act);
}

@media (max-width: 1440px) {
  .feedback__submit-btn {
    max-width: 241px;
    padding: 19px 32px;
  }
}

@media (max-width: 576px) {
  .feedback__input {
    margin-bottom: 25px;
    font-size: 14px;
  }

  .feedback__submit-btn {
    max-width: 180px;
    padding: 12px 28px;
  }

  .feedback__input-textarea,
  .feedback__input {
    padding: 22px 22px;
  }

  .feedback__input-textarea {
    margin-bottom: 23px;
  }
}
