/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src: local("Montserrat-regular"),
  url("../fonts/Montserrat-regular.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/Montserrat-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;

  font-display: swap;
  src: local("Montserrat-medium"),
  url("../fonts/Montserrat-medium.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/Montserrat-medium.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;

  font-display: swap;
  src: local("Montserrat-semibold"),
  url("../fonts/Montserrat-semibold.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/Montserrat-semibold.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src: local("Montserrat-bold"),
  url("../fonts/Montserrat-bold.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/Montserrat-bold.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;

  font-display: swap;
  src: local("Montserrat-extrabold"),
  url("../fonts/Montserrat-extrabold.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/Montserrat-extrabold.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
