.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--grey);
  background-color: var(--black);
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding-top: 50px; */
}

.footer__nav {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-right: 6.55%;
}

.footer__logo {
  display: flex;
  align-items: flex-start;
  width: 224px;
  height: 72px;
  margin-bottom: 20px;
}

.footer__menu {
  margin-bottom: 90px;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.footer__menu-link {
  outline: none;
  transition: color .3s ease;
}

.footer__menu-link:hover {
  color: var(--orange);
}

.footer__menu-link:focus:not(:active) {
  outline: 2px solid var(--orange);
  outline-offset: 3px;
}

.footer__menu-link:active {
  color: var(--orange-act);
  outline: none;
}

.footer__feedback {
  width: calc(570 / 1770 * 100%);
}

.footer__title {
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: var(--grey);
}

.footer__info-text {
  display: flex;
  align-items: center;
  width: calc(363 / 1770 * 100%);
}

.footer__text {
  color: var(--grey);
}

@media (max-width: 1440px) {
  .footer {
    padding-top: 48px;
  }

  .footer__container {
    justify-content: flex-start;
    /* padding: 50px; */
  }

  .footer__nav {
    margin-right: calc(132 / 924 * 100%);
  }

  .footer__feedback {
    width: calc(541 / 924 * 100%);
  }

  .footer__info-text {
    display: none;
  }

  .feedback__submit-btn {
    max-width: 241px;
    padding: 19px 32px;
  }
}

@media (max-width: 1023px) {
  .footer {
    padding-top: 49px;
  }

  .footer__container {
    flex-direction: column-reverse;
    /* padding-top: 50px; */
    /* padding-bottom: 51px; */
  }

  .footer__title {
    margin-bottom: 25px;
  }

  .footer__menu {
    display: none;
  }

  .footer__feedback {
    width: calc(541 / 668 * 100%);
    margin-right: 177px;
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .footer {
    padding-top: 34px;
    padding-bottom: 40px;
  }

  .footer__container {
    /* padding: 32px 14px; */
  }

  .footer__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }

  .footer__feedback {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--grey-medium);
  }

  .footer__nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 0;
  }

  .footer__logo {
    align-items: center;
    width: 131px;
    height: 42px;
    margin-bottom: 8px;
  }
}
