html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

img,
svg {
	max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	min-width: 320px;
	font-family: "Montserrat", sans-serif;
	font-size: var(--def-fs);
	line-height: var(--def-lh);
	color: var(--black);
	background-color: var(--white);
}

.container {
	max-width: var(--container-max-widht);
	margin-right: auto;
	margin-left: auto;
	padding-right: var(--container-padding);
	padding-left: var(--container-padding);
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.reset-list {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.reset-btn {
	padding: 0;
	border: none;
	background-color: transparent;
}

.section-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 48px;
	font-weight: 400;
	line-height: 59px;
	color: var(--black);
}

.text {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	color: var(--black);
}

@media (max-width: 576px) {
	

	.text {
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
	}
}
