.header {
	min-height: 100px;
	margin-bottom: 50px;
	padding-top: 14px;
	padding-bottom: 14px;
	border-radius: 0 0 32px 32px;
	background-color: var(--white);
	box-shadow: 0 5px 40px rgba(0, 0, 0, .1);
}

.header__container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.header__burger {
	display: none;
}

.header__logo,
.button__search-btn {
	flex-shrink: 0;
}

.header__logo {
	display: flex;
	align-items: center;
	width: 225px;
	height: 72px;
	margin-right: 20px;
}

.header__nav {
	display: flex;
	align-items: center;
	margin-right: calc(176 / 1770 * 100%);
	margin-left: auto;
}

.header__menu {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	color: var(--black);
}

.header__menu-list {
	margin-right: 80px;
}

.header__search-btn,
.header__close-btn {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	line-height: 1;
	color: var(--black);
	outline: none;
	cursor: pointer;
	transition: color .3s ease;
}

.header__search-btn--submit {
	margin-right: 20px;
}

.header__menu-link {
	position: relative;
	padding: 3px;
	outline: none;
}

.header__menu-link::after {
	content: "";
	position: absolute;
	bottom: -7px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--orange);
	transition: transform .3s;
	transform: scaleX(0);
}

.header__menu-link:hover::after {
	transform: scaleX(1);
}

.header__menu-link:focus:not(:hover) {
	outline: 2px solid var(--orange);
	outline-offset: 5px;
}

.header__menu-link:active {
	color: var(--orange-act);
}

.header__menu-link:active::after {
	color: var(--orange-act);
	background-color: var(--orange-act);
	transform: scaleX(1);
}

.header__search-btn:hover,
.header__close-btn:hover {
	color: var(--orange);
	cursor: pointer;
}

.header__search-btn:focus:not(:hover),
.header__close-btn:focus:not(:hover) {
	outline: 2px solid var(--orange);
	outline-offset: 2px;
}

.header__search-btn:active,
.header__close-btn:active {
	color: var(--orange-act);
}

.header__search-form {
	position: absolute;
	z-index: 14;
	top: 6px;
	right: 50px;
	display: none;
	align-items: center;
	width: 539px;
	padding: 12px 13px 16px 32px;
	border: 1px dashed var(--grey);
	border-radius: 24px;
	color: var(--grey);
	background-color: var(--white);
	box-shadow: 0 0 20px rgba(43, 9, 9, .12);
	transform-origin: right;
}

.header__search-form.is-opened {
	display: flex;
	animation-name: search-open;
	animation-duration: .3s;
}

.header__search-form.is-closed {
	animation-name: search-close;
	animation-duration: .3s;
}

.header__search-input {
	flex-grow: 1;
	width: 220px;
	margin-right: 14px;
	padding: 0;
	padding-bottom: 5px;
	border: none;
	border-bottom: 1px solid var(--grey);
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	outline: none;
	transition: border-color .3s ease;
}

.header__search-input::placeholder {
	transition: opacity .3s ease;
}

.header__search-input:hover {
	border-color: var(--orange);
}

.header__search-input:focus::placeholder {
	opacity: 0;
}

@media (max-width: 1440px) {
	.header__menu {
		margin-right: 40px;
	}

	.header__menu-list {
		margin-right: 65px;
	}
}

@media (max-width: 1280px) {
	.header {
		margin-bottom: 40px;
		padding-top: 26px;
		padding-bottom: 26px;
	}

	.header__burger {
		position: relative;
		z-index: 13;
		display: inline-block;
		width: 30px;
		height: 23px;
	}

	.header__nav {
		position: fixed;
		z-index: 12;
		top: 0;
		left: 0;
		display: none;
		width: 420px;
		height: 100vh;
		padding: 162px 80px 40px 40px;
		background-color: #ffffff;
		box-shadow: 0 0 20px rgba(0, 0, 0, .3);
		transform: translateX(-100%);
	}

	.header__menu {
		display: block;
		overflow-y: auto;
		max-height: 100%;
		margin: 0;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
		text-align: start;
	}

	.header__nav.is-active {
		display: block;
		transform: translateX(0);
		animation-name: menu-open;
		animation-duration: .3s;
	}

	.header__nav.is-closed {
		animation-name: menu-close;
		animation-duration: .3s;
	}

	.header__menu-list {
		margin-bottom: 60px;
	}

	.header__menu-link {
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
	}

	.header__logo {
		width: 150px;
		height: 48px;
		margin-right: 0;
	}
}

@media (max-width: 800px) {
	.header {
		min-height: 69px;
		padding-top: 10px;
		padding-bottom: 12px;
	}

	.header__container {
		position: static;
	}

	.header__search-form {
		top: 0;
		right: 0;
		width: 100%;
		min-width: 320px;
		min-height: 69px;
		padding-right: var(--container-padding);
		padding-left: var(--container-padding);
		border-radius: 0 0 24px 24px;
	}
}

@media (max-width: 576px) {
	.header {
		min-height: auto;
		margin-bottom: 30px;
		padding: 14px;
	}

	.header__container {
		padding: 3px 1px;
	}

	.header__nav {
		padding: 78px 80px 40px 15px;
	}

	.header__logo {
		width: 110px;
		height: 35px;
	}

	.header__menu {
		color: var(--black);
	}

	.header__menu-link {
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;

	}

	.header__search-input {
		padding-bottom: 6px;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;

	}
}
