.socials {
  display: flex;
  flex-wrap: wrap;
}

.socials__item:not(:last-child) {
  margin-right: 25px;
}

.socials__link {
  display: flex;
  align-items: flex-start;
  width: 60px;
  height: 60px;
  transition: fill.3s ease;
}

.socials__link {
  fill: var(--grey-dark);
}

.socials__link:hover {
  fill: var(--orange);
}

.socials__link:focus:not(:active) {
  outline: 2px solid var(--orange);
  outline-offset: 3px;
}

.socials__link:active {
  fill: var(--orange-act);
}

@media (max-width: 576px) {
  .socials__link {
    width: 40px;
    height: 40px;
  }

  .socials__item:not(:last-child) {
    margin-right: 16px;
  }
}
