.work {
  padding-top: 50px;
  padding-bottom: 50px;
}

.work__title {
  margin-bottom: 50px;
}

@media (max-width: 1280px) {
  .work {
    padding-top: 38px;
    padding-bottom: 40px;
  }
}

@media (max-width: 850px) {
  .work {
    padding-top: 40px;
    padding-bottom: 9px;
  }

  .work__title {
    margin-bottom: 47px;
  }
}

@media (max-width: 576px) {
  .work {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .work__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }
}
