@import url("_fonts.css");

@import url("_variables.css");

@import url("_global.css");

@import url("keyframes.css");

@import url("_burger.css");

@import url("_header.css");

@import url("_hero.css");

@import url("_btn.css");

@import url("_about.css");

@import url("_work.css");

@import url("_tabs.css");

@import url("_faq.css");

@import url("_accord.css");

@import url("_footer.css");

@import url("_feedback.css");

@import url("_socials.css");
